/* Navbar */


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(59, 59, 59);
}
.jumbotron-fluid {
  padding:30px;
  background-color: rgb(26, 25, 25);
  color: #fff;
  display: flex;
  flex-direction: row;
}


.display-5 {
  color: aqua;
  font-weight: bold;
}


.btn {
  color: whitesmoke;
  background-color: rgb(151, 151, 37);
  font-size: 18px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

a {
  text-decoration:rgb(3, 134, 91);
}

.row {
  padding-top: 30px;
   height: 500px;
   color: rgb(43, 42, 42);
   justify-content: center;
}

.leftcol {
  width: 450px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  border-radius: 20%;
  background-color: rgb(48, 47, 47);
}

.rightcol {
  display: inline-block;
  width: 700px;
  height: 600px;
  vertical-align: top;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: 600px;
  border: rgb(170, 167, 167) solid 10px;
  border-radius: 20%;
}

.item {
  width: 700px;
  height: 600px;
  height: auto;
  float: left;
  margin: 3px;
  padding: 3px;
}

h1 {
  color: rgb(255, 46, 9);
}

p {
  color: #fff;
}
